
.container{
    max-width: 1200px;
}
.form-search{
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
    margin-right: 10px;
    width: 50%;
}
.form-search input{
    padding: 10px 5px;
    width: calc(100% - 40px);
    background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: none;
  border: 1px solid transparent;
  
}
.form-search button{
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
  border: none;
}
input:focus,button:focus{
  outline: none;
}
input:-internal-autofill-selected{
  background-color: transparent !important;
  background: transparent !important;
}
.btn-outline{
    border:1px solid #F75813;
    color: #F75813;
}
.btn-container{
    background:#F75813;
    color:#fff;
}
a{
    color:#F75813
}
a:hover{
  color: #030303;
  text-decoration: none;
}
.font-25{
font-size: 25px;
}
.font-40{
  font-size: 40px;
}

@media screen and (min-width:991px) {
  .col-lg-5{
    max-width: 20% !important;
  }
}
@media screen and (min-width:768px) {
  .col-md-5{
    max-width: 20% !important;
  }
}
@media screen and (min-width:576px) {
  .col-sm-5{
    max-width: 20% !important;
  }
  .col-xs-5{
    max-width: 20% !important;
  }
}
@media screen and (min-width:1200px) {
  .col-xl-5{
    max-width: 20% !important;
  }
}
@media screen and (min-width:1400px) {
  .col-xxl-5{
    max-width: 20% !important;
  }
}

.navbar-expand-lg .navbar-nav .nav-link{
    color: black;
    padding: 8px 3rem;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}
header hr{
    margin: 0;
}

#bannerHome .carousel-inner{
    height: 500px;
    position: relative;
}
#bannerHome .carousel-inner img,#bannerHome .carousel-inner .carousel-item{
    height: 100%;
}
#bannerHome .carousel-inner::before,#categoryBox .card::before{
    position:absolute  ;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    content: '';
    width: 100%;
    height: 100%;
    z-index: 1;
}

#categoryBox{
    margin-bottom: 30px;

}
#categoryBox .card{
    height: 350px;
    margin-top:30px ;
    position: relative;
}
#categoryBox .card img{
    height: 100%;
}
#categoryBox .card-img-overlay{
    z-index: 1;
}

footer{
    background:#2c2b2b ;
    padding: 20px 0;
    color: #fff;
}
footer .nav-pills .nav-link{
    background-color: unset !important;
    color: #fff;
    padding-left: 0;
}
footer .nav-pills .nav-link:first-child{
  padding-top: 0;
}
footer .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: #F75813;
}
footer iframe{
    height: 300px;
    width: 100%;
}

.headline {
    text-align: center;
    margin: 40px 0px;
  }

  h3 {
    font-size: 18px;
    padding: 10px 20px;
     border: 1px solid black; 
    display: inline-block;
  }
  .product .col{
    margin-bottom: 40px;
  }
 

  .product .product-item{
    box-shadow: rgba(247, 88, 19, 0.5) 0px 0px 0px 3px;
  }
  .product img {
    width: 100%;
    height: 200px;
  }
  .product .col-lg-5 img{
    height: 150px;
  }
  
  .product .product-infor {
    padding: 10px;
    background-color: antiquewhite;
  }

  .product .product-infor a {
    text-decoration: none;
  }

  .product .product-infor a.product-cart {
    font-size: 11px;
    text-transform: uppercase;
    color: #9e9e9e;
    padding: 3px 0px;
  }

  .product .product-infor a.product-name {
    padding: 3px 0px;
    color: #334862;
    font-weight: 700;

  }

  .product .product-infor .product-price {
    color: #111;
    font-weight: 600;
  }
  .navbar__link-separator {
    border-right: 1px solid#F75813;
    height: 0.8125rem;
}
#productHomePage .nav-tabs  {
justify-content: center;
font-size: 35px;
border-bottom:none;
margin:40px ;
}
#productHomePage .nav-tabs .nav-link {
  border: none;
color: #030303;
}
#productHomePage .nav-tabs .nav-link.active{
  color: #F75813;
}

.page-item.active .page-link{
  background-color: #F75813;
    border-color: #F75813;
}
.page-link{
  color: #F75813;
}
.page-link:hover{
  color: #000;
}
#avatar{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #F75813;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.scroll-top {
  background-color: rgba(0, 0, 0, 0.3);
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 50px;
  right: 35px;
  border-radius: 100%;
}
.scroll-top i{
transition: 0.3s;
font-size:20px
}
.scroll-top:hover{
  background-color: rgba(247, 88, 19, 0.7);
}
.scroll-top:hover i{
  margin-bottom: 10px;
}
.badge-bg{
  background: #F75813;
  color: #fff;
}
span.badges {
  background: #e44704;
  padding: 1px 5px 1px 5px;
  border-radius: 8px;
  font-size: 15px;
  color: white;
}