.hide-sort::before{
    display: none !important;
}
.hide-sort::after{
    display: none !important;
}
.page-item.active .page-link{
    background-color: #E95616 !important;
    border-color: #E95616 !important;
}
.page-link{
    color: #E95616 ;
}
.page-link:hover{
    color: #E95616 !important;
}
.dropdown-item:hover, .dropdown-item:focus{
    background-color: #E95616 !important;
    color: #fff;
}